@model NW.Entity.Topicforum
@{
    ViewBag.Title = "添加主题";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <span>发布新的主题</span>
    @using (Html.BeginForm("Add", "Forum", FormMethod.Post, new { id = "myform",Class="form-horizontal" }))
            {
        @Html.AntiForgeryToken()
        <div class="row" style="margin-top:100px;height:auto">
                <div class="form-group">
                    <label for="Title" class="col-md-2 col-sm-2 control-label">标题</label>
                    <div class="col-sm-5 col-md-5">
                        <input type="text" placeholder="标题" name="title" id="platetitle" class="form-control">
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <button class="btn btn-default dropdown-toggle" type="button" id="PlateForumMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            请选择模块
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="PlateForumMenu">
                            @foreach (var plateforumlist in ViewBag.plateforumlist)
                            {
                                <li>
                                    <a href="#" id="@plateforumlist.Id" class="plate_li">@plateforumlist.Title</a>
                                </li>
                            }
                        </ul>
                        <input name="classify" id="plateforumId" class="classify" type="hidden">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Text" class="col-sm-2 control-label">需求</label>
                    <div class="col-sm-8">
                        <script id="container" name="content" type="text/plain">
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-md-offset-1 col-sm-2 col-md-2">
                        <input type="button" onclick="submitForm()" class="btn btn-primary" value="发布帖子">
                    </div>
                    
                </div>
            </div>
    }
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Scripts/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Scripts/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container', { initialFrameHeight: 320 });
    </script>
    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <script>
            alert("请先登录!");
        </script>
    }
    @*<script>
            var user = $("#hdusername").val();
            if (user == undefined) {
                alert("请先登录，再进行发布！")
                CastMsg("请先登录，再进行发布！");
            }
        </script>*@
    <script>
        $(".plate_li").click(function () {
            $("#plateforumId").val($(this).attr("Id"));
            $("#PlateForumMenu").html($(this).html());
        });
    </script>
</div>