@model PagedList.IPagedList<NW.Entity.Topicforum>
@using PagedList.Mvc
@{
    ViewBag.Title = "论坛";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">感谢关注！</h3>
        </hgroup>
    </header>
    @foreach (var item in Model)
    {
        <div class="inner-box">
            <div>
                <h2><a href="/Forum/Show/@item.Id">@item.Title</a></h2>
                发表时间：@item.Time  浏览量： @item.Browses  举报：@item.Report
            </div>
            <div class="top-info-wrap">
                @item.Content
            </div>
        </div>
    }
</div>