@{
    ViewBag.Title = "轮播管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="crumb-wrap">
    <div class="crumb-list">
        <i class="icon-font">
        </i><a href="/Admin/Home/Index/">首页</a>
        <span class="crumb-step">&gt;</span><a class="crumb-name" href="/Admin/Carousel/Index">轮播管理</a><span class="crumb-step">&gt;</span><span>新增轮播</span>
    </div>
</div>
<div class="result-wrap">
    <div class="result-content">
        <form action="/Admin/Carousel/Add" method="post" name="frmAddNotification">
            @Html.AntiForgeryToken()
            <table class="insert-tab" width="100%">
                <tbody>
                    <tr>
                        <th>描述：</th>
                        <td><textarea name="Description" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th>链接：</th>
                        <td>
                            <input class="common-text required" id="Href" name="Href" size="50" type="text">
                        </td>
                    </tr>
                    <tr>
                        <th>图片地址：</th>
                        <td>
                            <input class="common-text required" id="ImagePath" name="ImagePath" size="50" type="text">
                            （例如：/Images/xxx.jpg）
                        </td>
                    </tr>
                    <tr>
                        <th>是否显示：</th>
                        <td>
                            <select name="IsShow">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>是否删除：</th>
                        <td>
                            <select name="IsDelete">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>是否置顶：</th>
                        <td>
                            <select name="Top">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

