@model NW.Entity.Video
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container top-1-8">
    <div class="inner-box">
        <div>
            <h2>@Model.Title</h2>
        </div>
        <div style="width:800px;margin:10px auto;">
            <div id="a1"></div>
            <script type="text/javascript" src="~/Scripts/ckplayer/ckplayer.js" charset="utf-8"></script>
            <script type="text/javascript">
                var flashvars = {
                    f: '@Model.Path',
                    c: 0
                };
                var params = { bgcolor: '#FFF', allowFullScreen: true, allowScriptAccess: 'always', wmode: 'transparent' };
                var video = ['@Model.Path'];
                CKobject.embed('/Scripts/ckplayer/ckplayer.swf', 'a1', 'ckplayer_a1', '800', '600', false, flashvars, video, params);
            </script>
        </div>
    </div>
    <div class="inner-box">
          @Model.Description
    </div>
</div>
