@model NW.Entity.Video
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container top-1-8">
    <div class="inner-box">
        <div>
            <h2>@Model.Title</h2>
        </div>
        <div>
            <video   style="visibility: visible; " controls>
                <source src="http://localhost:55470/@Model.Path" type="video/mp4">
                <div>
                    <h3>您的浏览器不支持我们的视频 ：）</h3>
                </div>
            </video>
        </div>
        <div>
            @Model.Description
        </div>
    </div>
</div>
