@model NW.Entity.Video
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container top-1-8">
    <div class="inner-box">
        <div>
            <h2>@Model.Title</h2>
        </div>
        <div>
          
        </div>
        <div>
            @Model.Description
        </div>
    </div>
</div>
