@{
    ViewBag.Title = "填写邮箱";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container inner-box" style="margin-top:100px;">
    <h2>填写注册的邮箱</h2>
    <form action="/User/Register" method="post">
        <input type="text" name="email" /> <input type="submit" name="name" value="提交" />
    </form>
</div>

