
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container top-1-8">
    <div class="row ">
        <div class="inner-box col-lg-8">
            <h2>我的打赏</h2>
        </div>
        <div class="inner-box col-lg-3" style="margin-left:10px;"></div>
    </div>
   
</div>


