@using PagedList.Mvc;
@{
    ViewBag.Title = "我要约";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">感谢关注！</h3>
        </hgroup>
    </header>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="Title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="Title" placeholder="标题">
            </div>
            <div class="col-sm-3">
                <p class="text-primary" id="title-warning-text">标题最多25个字</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="col-sm-2 control-label">需求</label>
            <div class="col-sm-7">
                <textarea class="form-control" rows="3" id="Text"></textarea>
            </div>
            <div class="col-sm-3">
                <p class="text-primary" id="text-warning-text"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-2">
                <button type="button" class="btn btn-success" id="sumbit">提交</button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-info" id="reset">重置</button>
            </div>
            <div class="col-sm-4">
                <p id="warning-text"></p>
            </div>
        </div>
    </form>
</div>
<script>
    $("#sumbit").click(function () {
        var title = $("#Title").val();
        var text = $("#Text").val();
        var tf=1;
        $("#title-warning-text").html("");
        $("#text-warning-text").html("");
        if (title.length == 0)
        {
            $("#title-warning-text").attr("class", "text-warning");
            $("#title-warning-text").html("请输入标题");
            tf=0;
        }
        else if (title.length > 25)
        {
            $("#title-warning-text").attr("class", "text-warning");
            $("#title-warning-text").html("标题过长，请重新输入");
            tf = 0;
        }
        else if (text.length == 0)
        {
            $("#text-warning-text").attr("class", "text-warning");
            $("#text-warning-text").html("请填写需求");
            tf = 0;
        }
        else
        {
            if(tf==1)
            {
                $("#title-warning-text").attr("class","text-primary");
                $("#title-warning-text").html("标题最多25个字");
                $("#text-warning-text").attr("class", "text-primary");
                $.ajax({
                    type: 'POST',
                    url: "/Demand/Save",
                    data: { Title: title, Text: text },
                    dataType: "json",
                    success: function (data) {
                        if (data.Statu == "ok") {
                            $("#warning-text").attr("class", "text-success");
                            location.href = data.BackUrl;
                        }
                        else if (data.Statu == "err") {
                            $("#warning-text").attr("class", "text-warning");
                        }
                        else if (data.Statu == "go_login") {
                            $("#warning-text").attr("class", "text-danger");
                            $('#loginModal').modal('show')
                        }
                        else if (data.Statu == "text")
                        {
                            $("#text-warning-text").attr("class", "text-warning");
                            $("#text-warning-text").html(data.Data);
                        }
                        else if (data.Statu == "title") {
                            $("#title-warning-text").attr("class", "text-warning");
                            $("#title-warning-text").html(data.Data);
                        }
                        $("#warning-text").html(data.Msg);
                    },
                    error: function () {
                        $("#warning-text").addClass("text-danger");
                        $("#warning-text").html("网络异常，请稍后重试");
                    }
                });
            }
        }
    });
</script>