@model NW.Entity.Demand
@{
    ViewBag.Title = "我要约 详细信息";
    Layout = "~/Views/Shared/_Demand_Layout.cshtml";
}
<link href="~/Styles/demand.css" rel="stylesheet" />
<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">感谢关注！</h3>
        </hgroup>
    </header>
    <div class="row">
        
    </div>
</div>

