
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/echart/echartbuild/dist/echarts.js"></script>
    <title>ChartTest</title>
</head>
<body>
    <div>
        <div id="main" style="height:400px"></div>
        <script type="text/javascript">
            // 路径配置
            require.config({
                paths: {
                    echarts: '/Scripts/echart/echartbuild/dist'
                }
            });
            // 使用
            require(
                [
                    'echarts',
                    'echarts/chart/bar', // 使用柱状图就加载bar模块，按需加载
                    'echarts/chart/line',
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));
                    option = {
                        title: {
                            text: '文章分类',
                        },
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['文章分类']
                        },
                        toolbox: {
                            show: true,
                            feature: {
                                mark: { show: true },
                                dataView: { show: true, readOnly: false },
                                magicType: { show: true, type: ['line', 'bar'] },
                                restore: { show: true },
                                saveAsImage: { show: true }
                            }
                        },
                        calculable: true,
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: (function () {
                                    var arr = [];
                                    $.ajax({
                                        type: "get",
                                        async: false, //同步执行
                                        url: "/Test/GetJson",
                                        data: {},
                                        dataType: "json", //返回数据形式为json
                                        success: function (result) {
                                            if (result) {
                                                for (var i = 0; i < result.length; i++) {
                                                    console.log(result[i].Key);
                                                    arr.push(result[i].Key);
                                                }
                                            }
                                        },
                                        error: function (errorMsg) {
                                            alert("不好意思，大爷，图表请求数据失败啦!");
                                            myChart.hideLoading();
                                        }
                                    })
                                    return arr;
                                })()
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                axisLabel: {
                                    formatter: '{value}'
                                }
                            }
                        ],
                        series: [
                            {
                                name: '文章分类',
                                type: 'line',
                                data: (function () {
                                    var arr = [];
                                    $.ajax({
                                        type: "get",
                                        async: false, //同步执行
                                        url: "/Test/GetJson",
                                        data: {},
                                        dataType: "json", //返回数据形式为json
                                        success: function (result) {
                                            if (result) {
                                                for (var i = 0; i < result.length; i++) {
                                                    console.log(result[i].Value);
                                                    arr.push(result[i].Value);
                                                }
                                            }
                                        },
                                        error: function (errorMsg) {
                                            alert("不好意思，大爷，图表请求数据失败啦!");
                                            myChart.hideLoading();
                                        }
                                    })
                                    return arr;
                                })(),
                                markPoint: {
                                    data: [
                                        { type: 'max', name: '最大值' },
                                        { type: 'min', name: '最小值' }
                                    ]
                                },
                                markLine: {
                                    data: [
                                        { type: 'average', name: '平均值' }
                                    ]
                                }
                            }
                        ]
                    };
                    // 为echarts对象加载数据
                    myChart.setOption(option);
                }
            );
        </script>
    </div>
</body>
</html>
