
@{
    ViewBag.Title = "TestPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestPost</h2>
<form action="/Test/TestPost" method="POST">
    <input type="text" name="TestStr" value=" " />
    <button type="submit">提交</button>
</form>
