
@{
    ViewBag.Title = "UrlTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    console.log(window.location.href);
    console.log($.getUrlParam('returnUrl'));
</script>
<div class="container">

    <h2>UrlTest</h2>
    <div>
        
    </div>
</div>

