@model PagedList.IPagedList<NW.Entity.Course>
@using PagedList.Mvc;
@{
    ViewBag.Title = "课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container top-1-8">
    @foreach (var item in Model)
    {
        <div class="inner-box">
            <div class="entry-header">
                <h2><a href="/Course/Show/@item.Id">@item.Title</a></h2>
                <p class="text-muted entry-header-info">
                    <span class="col-md-2 col-sm-3 text-danger">主讲人：@item.Lecturer</span>
                    <span class="col-md-3 col-sm-6">发表时间：@item.Time</span>
                    <span class="cil-md-7 col-sm-3 text-info">浏览量： @item.Browses</span> 
                </p>
            </div>
            <div class="entry-content">
                @item.Description
            </div>
        </div>
    }

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>

