
@{
    ViewBag.Title = "课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">感谢关注！该模块暂时未开通</h3>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="..." alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    ...
                </div>
            </div>
        </hgroup>
    </header>
</div>

