@model NW.Entity.Course
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="inner-box top-1-8">
        <div>
            <h2>@Model.Title</h2>
            <div>发表时间：@Model.Time  浏览量： @Model.Browses  主讲人：@Model.Lecturer</div>
        </div>
        <div>
            @Model.Description
        </div>

        <div class="videoList">
            @if (Model.Videos.Count > 0)
            {
                foreach (var item in Model.Videos)
                {
                    <div>
                        <a href="/Video/Play/@item.Id">@item.Title</a> <span>发布时间：@item.Time</span> <span>查看次数：@item.Browses</span>
                    </div>
                }
            }
            else
            {
                <text>暂无视屏</text>
            }
        </div>
    </div>
</div>
