@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - codeqiaokeli</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Styles/codeqiaokeli.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/codeqiaokeli.js"></script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    codelqiaokeli
                </a>
            </div>
            <nav id="bs-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Bolg">博客</a>
                    </li>
                    <li>
                        <a href="/Talk">社区</a>
                    </li>
                    <li>
                        <a href="/Course">课程</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="/User/Login" data-toggle="modal" data-target="#loginModal">登陆</a></li>
                        <li><a href="/User/Register">注册</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="">@ViewBag.CurrentUser.Username</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">用户登录</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> 用户名：</label>
                        <input type="text" name="Username" id="txtUsername" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> 密  码：</label>
                        <input type="password" name="Password" id="txtPassword"  class="form-control"  />
                    </div>
                </div>
                <div class="modal-footer">
                    <span id="warning"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="btnLogin" class="btn btn-primary">登陆</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="container">
            <p>
                <a href="http://www.51newren.com/" title="牛人网">牛人网</a> |
                <a href="http://www.51newren.com/" title="牛人网" target="_blank">牛人网</a>
            </p>
            <p>Powered By <a target="_blank" href="http://www.bootcss.com/" title="Bootstrap中文网">Bootstrap</a> | <a href="http://www.phpcms.cn/" target="_blank" title="nele">nele</a></p>
            @*<p>
                    <a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备14020662号-2</a>
                </p>*@
        </div>
    </footer>
</body>
</html>
