@model NW.Models.Prompt
@{
    ViewBag.Title = "提示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="inner-box">
        <h2>@Model.Title</h2>
        <div>@Model.Details</div>
        <div><a href="@Model.RedirectUrl">@Model.RedirectText</a></div>
    </div>
</div>