@model NW.Models.Prompt
@{
    ViewBag.Title = "提示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>提示</h2>
    <div>@Model.Title</div>
    <div><a href="@Model.RedirectUrl">@Model.Details</a></div>
</div>