
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">坚持不懈！坚持不懈！坚持不懈！</h3>
        </hgroup>
    </header>

    <div id="main">
        <div id="notice">
            <h3>公告</h3>
            <div class="alert alert-info">
                <span style="color:green;">祝贺：jQuery从入门到精通(JS基础+jQuery+jQuery UI+jQuery Mobile一网打尽) 正式上线！</span>&nbsp;&nbsp;
                <a style="font-weight:bold;color:red;text-decoration:underline;" href="http://edu.51cto.com/course/course_id-3630.html" target="_blank">点击购买即学:))</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/course/9.html" target="_blank">课程列表</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/day/8.html" target="_blank">购买疑问？</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/day/7.html" target="_blank">为何该课程收费?</a>
            </div>
            <div class="alert alert-info">初学者请按照下面<span style="color:red;">课程列表</span>的顺序一步一步学习即可掌握完整的网站开发体系！（非初学者可挑选需要课程学习）</div>
        </div>
        <div id="courseList">
            <h3 id="course">课程列表</h3>
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>序号</th>
                            <th>课程名称</th>
                            <th>课时</th>
                            <th>状态</th>
                            <th>学习方式</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>HTML(div,css) 视频课程(附多个实战项目)</td>
                            <td>32</td>
                            <td>完结</td>
                            <td>免费</td>
                            <td>
                                <a href="/down/html/">下载</a> |
                                <a href="/html/">查看</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>织梦内容管理系统(dedecms)建设医疗网站(只会html,css即可建站,增加学习兴趣)</td>
                            <td>29</td>
                            <td>完结</td>
                            <td>免费</td>
                            <td>
                                <a href="/down/dede/">下载</a> |
                                <a href="/dede/">查看</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>PHP视频教程 - PHP实践之路 - 基础增强篇(小清新bbs系统开发)</td>
                            <td>104</td>
                            <td>完结</td>
                            <td>免费</td>
                            <td>
                                <a href="/down/php1/">下载</a> |
                                <a href="/php1/" target="_blank">查看</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>jQuery从入门到精通-JS基础+jQuery+jQuery UI+jQuery Mobile一网打尽</td>
                            <td>约100</td>
                            <td>连载中...</td>
                            <td>¥149</td>
                            <td>
                                <a href="http://www.sifangku.com/course/9.html" target="_blank">介绍</a> |
                                <a href="http://edu.51cto.com/course/course_id-3630.html" target="_blank">购买</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="blog">
            <h3>本站更新</h3>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">html视频课程<a href="/down/html/" style="color:green;font-size:13px;" target="_blank">  &nbsp;&nbsp;&gt;&gt;下载全部</a></h3>
                        </div>
                        <div class="panel-body">
                            <ul>


                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/32.html" target="_blank">32.第八章 html5初了解</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/31.html" target="_blank">31.第七章 遗漏补充</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/30.html" target="_blank">30.第六章 项目实战2 -oppo手机[6]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/29.html" target="_blank">29.第六章 项目实战2 -oppo手机[5]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/28.html" target="_blank">28.第六章 项目实战2 -oppo手机[4]-再谈浮动影响</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/27.html" target="_blank">27.第六章 项目实战2 -oppo手机[3]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/26.html" target="_blank">26.第六章 项目实战2 -oppo手机[2]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/25.html" target="_blank">25.第六章 项目实战2 -oppo手机[1]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/24.html" target="_blank">24.第五章 项目实战1 -美站库[7]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/html/23.html" target="_blank">23.第五章 项目实战1 -美站库[6]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">织梦视频课程<a href="/down/dede/" style="color:green;font-size:13px;" target="_blank">  &nbsp;&nbsp;&gt;&gt;下载全部</a></h3>
                        </div>
                        <div class="panel-body">
                            <ul>


                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/61.html" target="_blank">29.第四章 项目实战-医疗网站[19]-遗漏补充</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/60.html" target="_blank">28.第四章 项目实战-医疗网站[18]-搜索页</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/59.html" target="_blank">27.第四章 项目实战-医疗网站[17]-单页面内容调用</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/58.html" target="_blank">26.第四章 项目实战-医疗网站[16]-文章页内容调用</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/57.html" target="_blank">25.第四章 项目实战-医疗网站[15]-列表页内容调用</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/56.html" target="_blank">24.第四章 项目实战-医疗网站[14]-封面页内容调用</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/55.html" target="_blank">23.第四章 项目实战-医疗网站[13]-首页内容调用[2]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/54.html" target="_blank">22.第四章 项目实战-医疗网站[12]-首页内容调用[1]</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/53.html" target="_blank">21.第四章 项目实战-医疗网站[11]-系统用户以及管理策略介绍</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/dede/52.html" target="_blank">20.第四章 项目实战-医疗网站[10]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">PHP视频课程-基础增强篇<a href="/down/php1/" style="color:green;font-size:13px;" target="_blank">  &nbsp;&nbsp;&gt;&gt;下载全部</a></h3>
                        </div>
                        <div class="panel-body">
                            <ul>


                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/166.html" target="_blank">104.第十五章 小清新bbs系统开发[44]-小问题修正，布置作业</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/165.html" target="_blank">103.第十五章 小清新bbs系统开发[43]-编写系统安装引导程序[下</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/164.html" target="_blank">102.第十五章 小清新bbs系统开发[42]-编写系统安装引导程序[上</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/163.html" target="_blank">101.第十五章 小清新bbs系统开发[41]-搜索</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/162.html" target="_blank">100.第十五章 小清新bbs系统开发[40]-系统信息、站点设置</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/161.html" target="_blank">99.第十五章 小清新bbs系统开发[39]-后台注销、帖子管理</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/160.html" target="_blank">98.第十五章 小清新bbs系统开发[38]-后台登录</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/159.html" target="_blank">97.第十五章 小清新bbs系统开发[37]-管理员添加、删除</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/158.html" target="_blank">96.第十五章 小清新bbs系统开发[36]-会员中心⑥</a></li>

                                <li><span class="prefix glyphicon glyphicon-facetime-video"></span><a href="http://www.sifangku.com/php1/157.html" target="_blank">95.第十五章 小清新bbs系统开发[35]-会员中心⑤-编写上传函数[</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">随笔</h3>
                        </div>
                        <div class="panel-body">
                            <ul>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/8.html" target="_blank">购买疑问</a></li>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/7.html" target="_blank">为什么有些课程要收费？</a></li>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/6.html" target="_blank">网站开发学习之路(网站由哪些部分组成)</a></li>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/5.html" target="_blank">初学者建议</a></li>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/4.html" target="_blank">QQ交流群</a></li>

                                <li><span class="prefix glyphicon glyphicon-headphones"></span><a href="http://www.sifangku.com/day/3.html" target="_blank">关于私房库</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

