@using NW.Entity;
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header id="header">
        <hgroup>
            <h1 id="h1">SmallCode 编程学习</h1>
            <h3 id="h3">坚持不懈！坚持不懈！坚持不懈！</h3>
        </hgroup>
    </header>

    <div id="main">
        <div id="notice">
            <h3>公告</h3>
            @foreach (var item in ViewBag.Notifications as List<Notification>)
            {
                <div class="alert alert-info">
                    <span style="color:green;">@item.Description</span>&nbsp;&nbsp; <span style="color:green;">@item.CreatedTime</span>&nbsp;&nbsp;
                    <a style="font-weight:bold;color:red;text-decoration:underline;" href="http://weibo.com/nele0716/" target="_blank">Lenny微博</a>&nbsp;&nbsp;
                </div>
            }
        </div>

    </div>
</div>

