
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
    <header id="header">
        <hgroup>
            <h1 id="h1">codeqiaokeli 编程学习</h1>
            <h3 id="h3">坚持不懈！坚持不懈！坚持不懈！</h3>
        </hgroup>
    </header>

    <div id="main">
        <div id="notice">
            <h3>公告</h3>
            <div class="alert alert-info">
                <span style="color:green;">祝贺：jQuery从入门到精通(JS基础+jQuery+jQuery UI+jQuery Mobile一网打尽) 正式上线！</span>&nbsp;&nbsp;
                <a style="font-weight:bold;color:red;text-decoration:underline;" href="http://edu.51cto.com/course/course_id-3630.html" target="_blank">点击购买即学:))</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/course/9.html" target="_blank">课程列表</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/day/8.html" target="_blank">购买疑问？</a>&nbsp;&nbsp;
                <a style="color:#333;text-decoration:underline;" href="http://www.sifangku.com/day/7.html" target="_blank">为何该课程收费?</a>
            </div>
        </div>

    </div>
</div>

