#editor-text {
	max-height:300px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

.demand-header
{

}
.demand-body
{
    margin:15px 0px;
}
.demand-body .demand-body-one
{
    margin:10px 0;
    padding:10px;
    border:1px #808080 dashed;
    background-color:white;
    min-height:180px;
     
}
.demand-body .demand-body-one .demand-title
{
    line-height:25px;
    height:25px;
}
.demand-body .demand-body-one .demand-title .demand-info-title
{
    font-size:18px;
    overflow:hidden;
    max-height:25px;
}
.demand-body .demand-body-one .demand-info
{
    line-height:20px;
    height:20px;
}
.demand-body .demand-body-one .demand-info .demand-info-vote-up
{
    cursor:pointer;
}
.demand-body .demand-body-one .demand-text
{
    padding:0 5px;
}
.demand-body .demand-body-one .demand-title .demand-info-state
{
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .demand-body .demand-body-one .demand-title .state-1 {
        color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    }
    .demand-body .demand-body-one .demand-title .state-2 {
       color: #fff;
        background-color: #5bc0de;
    border-color: #46b8da;
    }
    .demand-body .demand-body-one .demand-title .state-3 {
       color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    }