.demand-header
{
    margin-bottom:10px;
    margin-top: 80px;
}
.demand-body
{
    margin:15px 0px;
}
.demand-info-state
{
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
    .state-1 {
        color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    }
    .state-2 {
       color: #fff;
        background-color: #5bc0de;
    border-color: #46b8da;
    }
    .state-3 {
       color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    }
.form-group p
{
    margin: 7px 0 7px;
}
.demand-info-vote-up
{
   cursor: pointer;
}